<ion-content [fullscreen]="true" class="no-background-image">
  <div id="container">
    <ion-card [hidden]="isLoading">
      <ion-card-content *ngIf="symbolData != null">
        <h3>
          {{ symbolData.Symbol }}
        </h3>
        <h1>
          {{ symbolData.CompanyName }}
        </h1>
        <h1>
          {{ symbolData.CurrentPrice | currency }}
        </h1>
      </ion-card-content>
      <ion-card-content>
        <ion-tabs>
          <ion-tab-bar slot="top">
            <ion-tab-button (click)="createDayDataOfSymbolLineChart()" [selected]="selectedDuration == 'Day'">
              <ion-label>Day</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="createWeekDataOfSymbolLineChart()" [selected]="selectedDuration == 'Week'">
              <ion-label>Week</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="createMonthDataOfSymbolLineChart()" [selected]="selectedDuration == 'Month'">
              <ion-label>Month</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
        <canvas #symbolLineChart></canvas>
      </ion-card-content>
      <ion-card-content *ngIf="symbolData != null">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-input type="number" [(ngModel)]="stockToBuyInput" placeholder="Stock Amount..."></ion-input>        
            </ion-col>
            <ion-col size="2">
              <ion-button color="primary" (click)="buyStock()">Buy at {{ symbolData.CurrentPrice | currency }}</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-input type="number" [(ngModel)]="stockToSellInput" placeholder="Stock Amount..."></ion-input>        
            </ion-col>
            <ion-col size="2">
              <ion-button color="primary" (click)="sellStock()">Sell for {{ symbolData.CurrentPrice | currency }} each</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-container *ngIf="isLoading">
    <ion-spinner class="progress-spinner" name="circles"></ion-spinner>
  </ng-container>
</ion-content>