<ion-app>
  <ion-content class="content-with-background">
    <ng-container *ngIf="globals.userToken == null && inSignUp == false">
      <ion-content style="--padding-top: 50px;" class="content-with-background login-area horiz-verti-center">
        <ion-img style="padding-bottom: 10px;" src="../assets/ApplicationLogo.png"></ion-img>
        <ion-input type="text" (keyup.enter)="login()" [(ngModel)]="usernameInput" placeholder="Username"></ion-input>
        <ion-input type="password" (keyup.enter)="login()" [(ngModel)]="passwordInput" placeholder="Password"></ion-input>
        <ion-button color="primary" (click)="login()" expand="block">Login</ion-button>
        <ion-button color="secondary" (click)="inSignUp = true;" expand="block">Make an Account</ion-button>
      </ion-content>
    </ng-container>
    <ng-container *ngIf="globals.userToken == null && inSignUp == true">
      <ion-content style="--padding-top: 50px;" class="content-with-background signup-area horiz-verti-center">
        <ion-img style="padding-bottom: 10px;" src="../assets/ApplicationLogo.png"></ion-img>
        <ion-input type="text" [(ngModel)]="usernameInput" placeholder="Username"></ion-input>
        <ion-input type="password" [(ngModel)]="passwordInput" placeholder="Password"></ion-input>
        <ion-input type="password" [(ngModel)]="confirmPasswordInput" placeholder="Confirm Password"></ion-input>
        <ion-input type="email" [(ngModel)]="signUpUser.Email" placeholder="Email"></ion-input>
        <ion-input type="text" [(ngModel)]="signUpUser.FirstName" placeholder="First Name"></ion-input>
        <ion-input type="text" [(ngModel)]="signUpUser.LastName" placeholder="Last Name"></ion-input>
        <ion-button color="primary" (click)="signUp()" expand="block">Sign Up</ion-button>
        <ion-button color="secondary" (click)="inSignUp = false;" expand="block">Cancel</ion-button>
      </ion-content>
    </ng-container>
    <ng-container *ngIf="globals.userToken != null && !isLoading">
      <ion-split-pane contentId="main-content">
        <ion-menu class="main-content" contentId="main-content" type="overlay">
          <app-main-menu></app-main-menu>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
      </ion-split-pane>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <ion-spinner class="progress-spinner" name="circles"></ion-spinner>
    </ng-container>
  </ion-content>
</ion-app>
