<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Investing Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-with-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Investing Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-content *ngIf="globals.stockExchangeData != null">
        <h1>
          Buying Power: {{ globals.stockExchangeData.buyingPower | currency}}
        </h1>
        <!--<ion-card-content>
          <ion-tabs>
            <ion-tab-bar slot="top">
              <ion-tab-button (click)="createDayDataOfHistoryLineChart()" [selected]="selectedDuration == 'Day'">
                <ion-label>Day</ion-label>
              </ion-tab-button>
              <ion-tab-button (click)="createWeekDataOfSymbolLineChart()" [selected]="selectedDuration == 'Week'">
                <ion-label>Week</ion-label>
              </ion-tab-button>
              <ion-tab-button (click)="createMonthDataOfSymbolLineChart()" [selected]="selectedDuration == 'Month'">
                <ion-label>Month</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        <canvas #symbolLineChart></canvas>
      </ion-card-content>-->
        <ion-list>
          <ion-item *ngFor="let item of globals.stockExchangeData.portfolio | keyvalue">
            <ion-label *ngIf="item.value == 1">
              {{ item.value }} Stock in {{ item.key }} 
            </ion-label>
            <ion-label *ngIf="item.value != 1">
              {{ item.value }} Stocks in {{ item.key }} 
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-container *ngIf="isLoading">
    <ion-spinner class="progress-spinner" name="circles"></ion-spinner>
  </ng-container>
</ion-content>