.main-content ion-content {
--padding: 0px;
}

#main-menu-list {
  padding-top: 0px;
}

.progress-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(3);
}

ion-content {
  --background: url('./assets/background.png');
}

ion-input {
  border: 1px solid gray;
  border-radius: 10px;
  background: white !important;
}

.login-area ion-input, .signup-area ion-input {
  margin-bottom: 10px;
}